# gh secret set -f integration_tests/test.env -e ci_testing

# redshift
DBT_ENV_SECRET_REDSHIFT_PASS=
# local testing only
# REDSHIFT_SCHEMA=

# snowflake
SNOWFLAKE_ACCOUNT=
DBT_ENV_SECRET_SNOWFLAKE_PASS=
# local testing only
# SNOWFLAKE_SCHEMA=

# bigquery
BIGQUERY_PROJECT=
BIGQUERY_SCHEMA=
BIGQUERY_KEYFILE_JSON=
# local testing only
# BIGQUERY_SCHEMA=

# synapse
DBT_ENV_SECRET_SYNAPSE_CLIENT_SECRET=
# local testing only
# SYNAPSE_SCHEMA=


# NOT CURRENTLY USED
# databricks
DATABRICKS_TEST_HOST=
DATBRICKS_TEST_ENDPOINT=
DATABRICKS_TOKEN=


# old
AZURESQL_TEST_SERVER=
AZURESQL_TEST_DBNAME=
AZURESQL_TEST_USER=
AZURESQL_TEST_PASS=
