# gh variable set -f integration_tests/vars.env

# redshift
# NOTE: REDSHIFT_SPECTRUM_IAM_ROLE is currently hard-coded
REDSHIFT_HOST=
REDSHIFT_USER=
REDSHIFT_DATABASE=
REDSHIFT_PORT=

# snowflake
SNOWFLAKE_USER=
SNOWFLAKE_ROLE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_WAREHOUSE=

# bigquery
BIGQUERY_PROJECT=

# synapse
SYNAPSE_DRIVER=
SYNAPSE_HOST=
SYNAPSE_PORT=
SYNAPSE_DATABASE=
SYNAPSE_AUTHENTICATION=
SYNAPSE_TENANT_ID=
SYNAPSE_CLIENT_ID=